<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проектування кібер-енергетичних систем</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    

    {% endblock %}
  </head>
  <body class="d-flex flex-column">

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <div class="block_1">
        <label for="check">
          <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
      </div>
      
      <div class="left_area" class="check_1">
        <h3>sunny <span>design</span></h3>
      </div>
      <!--<div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>-->
    </header>

    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <!--<img src="1.png" class="mobile_profile_image" alt="">-->
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
      
        <a href="{% url 'laba' %}"><i class="fas fa-cogs"></i><span>Введення даних</span></a>
        <a href="{% url 'graphics' %}"><i class="fas fa-th"></i><span>Практична робота №1</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Практична робота №2</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Практична робота №3</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Практична робота №4</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Практична робота №5</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <a href="{% url 'laba' %}"><i class="fas fa-cogs"></i><span>Введення даних</span></a>
      <a href="{% url 'graphics' %}"><i class="fas fa-th"></i><span>Практична робота №1</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Практична робота №2</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Практична робота №3</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Практична робота №4</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Практична робота №5</span></a>
    </div>
    <!--sidebar end-->

    <div class="content">
      {% block content %}

      {% endblock %}
    </div>

    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>

  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      background-color: #2f323a;
      color: white;
      text-align: center;
    }
    </style>

    <div class="footer">
      <p>© 2020 Всі права захищено.</p>
    </div>

  </body>
</html>