{% extends "dashboard.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style_new.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

  {% block content %}
<div class="container" style="background-color: rgb(201, 201, 201, 0.25);">
  <div class="container">
    <h1>Практична робота №1</h1>
    {% if data1 %}
    <p class="lead">Діапазон введенних дат: {{ data1 }} - {{ data2 }} </p>
    <p></p>
    {% else %}
    <p class="lead">Спочатку введіть дані на вкладці Введення даних</p>
    <p></p>
    {% endif %}
  </div>
  
  {% if graphic_1 %}
  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-md-12">{{ graphic_1|safe }}</div>
    </div>
  </div>
  {% endif %}
  {% if graphic_2 %}
  <div class="container" style="margin-bottom: 50px;">
    <div class="row" >
      <div class="col-md-12">{{ graphic_2|safe }}</div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
      <button id="showHideContent" class="btn btn-primary">Показати/Сховати таблицю тривалості температурних режимів</button>

      <div id="content" style="display:none;">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Температура, t°C</th>
              <th scope="col">Тривалість t, год</th>
            </tr>
          </thead>
          <tbody>
            {% for x,y in z %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ x }}</td>
              <td>{{ y }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <script type="text/javascript">
      $(document).ready(function(){
          $("#showHideContent").click(function () {
              if ($("#content").is(":hidden")) {
                  $("#content").show("slow");
              } else {
                  $("#content").hide("slow");
              }
              return false;
          });
      });
    </script>
    
  </div>

  {% endif %}
  {% if graphic_3 %}
  <div class="container" style="margin-bottom: 50px;">
    <div class="row" >
      <div class="col-md-12" style="display: flex;align-items: center; justify-content: center;">{{ graphic_3|safe }}</div>
    </div>
  </div>
  {% endif %}
  {% if graphic_4 %}
  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-md-12">{{ graphic_4|safe }}</div>
    </div>
  </div>
  {% endif %}
  {% if graphic_5 %}
  <div class="container" style="margin-bottom: 50px;" >
    <div class="row" >
      <div class="col-md-12">{{ graphic_5|safe }}</div>
    </div>
  </div>
  {% endif %}
  {% if graphic_6 %}
  <div class="container" style="margin-bottom: 50px;">
    <div class="row" >
      <div class="col-md-12">{{ graphic_6|safe }}</div>
    </div>
  </div>
  <div class="container" style="height: 50px;"></div>
  {% endif %}
</div>
<div class="d-flex justify-content-between container" id="top_button">
    <a class="btn btn-primary pull-right" style="text-align: right; visibility: hidden;" >Назад</a>
     <a href="{% url 'laba' %}"><button type="submit" class="btn btn-primary pull-right" id="top_button" style="height: 40px; width: 80px;font-size: 18px;margin-bottom: 40px;">Назад</button></a>
  </div> 
  <div style="height: 60px;"></div>

{% endblock %}
