{% extends "base.html" %}
{% block head %}
  <title>PlotLy OffLine examples</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  {% endblock %}
{% block content %}

<div class="container">
  <h1>Проектування кібер-енергетичних систем</h1>
  <p class="lead">ТІ-82 Єзгор Віталій</p>
</div>

<div class="container">
  <table class="table table-striped table-hover">
    <tr>
      <td>Практична робота №1</td>
      <td><a class="btn btn-default" href="laba/" role="button">Перейти</a></td>
    </tr>
  </table>
</div>
<!-- /.container -->

{% endblock %}
