{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Практична робота №1</h1>
  <p class="lead">...</p>
</div>

<div class="container">
  <a class="btn btn-default" href="check_bd" role="button">Перевірка бази даних</a>
  <p>&ensp;</p>
  <table class="table table-striped table-hover">
    <tr>
      <td>Температурні умови</td>
      <td><a class="btn btn-default" href="form" role="button">Перейти</a></td>
    </tr>
    <tr>
      <td>Температурний режим</td>
      <td><a class="btn btn-default" href="graph" role="button">Перейти</a></td>
    </tr>
    <tr>
      <td>Троянда вітрів</td>
      <td><a class="btn btn-default" href="rosa_windy" role="button">Перейти</a></td>
    </tr>
    <tr>
      <td>Тривалість режимів вітрової активності</td>
      <td><a class="btn btn-default" href="wind_activity" role="button">Перейти</a></td>
    </tr>
  </table>
</div>
<!-- /.container -->
<div class="container">
  <a class="btn btn-primary pull-right" href="{% url 'index_main' %}">Повернутись до ПР</a>
</div>


{% endblock %}
