{% extends "dashboard.html" %}
{% load static %}
    {% block head %}
    {{ block.super }}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style_new.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">


    <link rel="stylesheet" href="{% static 'css/style_new.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {% endblock %}
  {% block content %}
    
    <div class="container" style="background-color: rgb(201, 201, 201, 0.75); color: black;">
      <h1 align="center">Обчислення даних для ПР №3</h1>
      <p>{{ data }}</p>
      <h6>Графіки споживання кожного споживача протягом тижня</h6>
      {% for graphic in graphics %}
      <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12">{{ graphic|safe }}</div>
      </div>
      {% endfor %}
      <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12">{{ GEN_graphic|safe }}</div>
      </div>
      <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12">{{ histogram_pick|safe }}</div>
      </div>
      <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12">{{ histogram|safe }}</div>
      </div>
      <div style="margin-bottom: 50px;">
        <h6 style="font-size: 19px; text-align:center; color:red;">Найбільш навантажена доба: {{ day }}</h6>
        <table class="table" style="background-color: white; color: black;"><!-- id="table_id" -->
          <thead>
              <tr>
                  <th>#</th>
                  <th>Назва</th>
                  <th>Кількість використань</th>
                  <th>Витрати енергії (кВт*год)</th>
              </tr>
          </thead>
          <tbody>
            {% for i in result_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
              </tr>
              {% endfor %}
          </tbody>
          
          </table>
      </div>
      <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12">{{ histogram_price|safe }}</div>
      </div>
      <div style="color: black; margin-bottom: 50px;"><div>
          <h6 style="color: red; font-size: 20px; text-align:center;  margin-top: 30px;">Доцільно використовувати: {{ result }}!</h6>
          <p>Вартість однозонного тарифу: {{ price_list.0 }} (грн).</p>
          <p>Вартість двозонного тарифу: {{ price_list.1 }} (грн).</p>
          <p>Вартість тризонного тарифу: {{ price_list.2 }} (грн).</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between container" id="top_button">
    <a class="btn btn-primary pull-right" style="text-align: right; visibility: hidden;" >Назад</a>
     <a href="{% url 'laba3' %}"><button type="submit" class="btn btn-primary pull-right" id="top_button" style="height: 40px; width: 80px;font-size: 18px;margin-bottom: 40px;">Назад</button></a>
  </div> 
  <div style="height: 60px;"></div>

{% endblock %}
