{% extends "dashboard.html" %}
{% load static %}
    {% block head %}
    {{ block.super }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">


    <link rel="stylesheet" href="{% static 'css/style_new.css' %}">
    {% endblock %}
  {% block content %}

    
    <div class="container" id="gray_block" style="height: 1930px;">
      
      <h1 align="center">Практична робота №2</h1>
      <p class="lead">Діапазон введенних дат: {{ data_1 }} - {{ data_2 }} </p>

        <p>{{ gvp }}</p>
        <p>Витрати енергії на опалення W = {{ energy_loss }} (кВтˑгод) за період {{ data_1 }} - {{ data_2 }}</p>
        <p>Тариф на теплову енергію (грн/Гкал): {{ tariffs.0 }}</p>
        <p>Вартість 1 м³ газу: {{ tariffs.1 }}</p>
        <p>Вартість 1 т вугілля: {{ tariffs.2 }}</p>
        <p>Вартість 1 т дров: {{ tariffs.4 }}</p>
        <p>Вартість 1 т пелет: {{ tariffs.3 }}</p>
        <p>Тариф на електричну енергію: {{ tariffs.5 }}</p>


        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
            <button id="showHideContent" class="btn btn-primary">Показати/Сховати тарифи та вартість палива</button>
        <div id="content" style="display:none;">
              <table class="table table-dark">
                  <tbody>
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Вид тарифів та палив</th>
                          <th scope="col">Ціна (грн)</th>
                        </tr>
                      </thead>
                    <tr>
                        <th scope="row">1</th>
                      <td scope="row">Тариф на теплову енергію:</td>
                      <td>{{ tariffs.0 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                      <td scope="row">Вартість 1 м³ газу:</td>
                      <td>{{ tariffs.1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                      <td scope="row">Вартість 1 т вугілля:</td>
                      <td>{{ tariffs.2 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                      <td scope="row">Вартість 1 т дров:</td>
                      <td>{{ tariffs.4 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                      <td scope="row">Вартість 1 т пелет:</td>
                      <td>{{ tariffs.3 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                      <td scope="row">Тариф на електричну енергію:</td>
                      <td>{{ tariffs.5 }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          <script type="text/javascript">
            $(document).ready(function(){
                $("#showHideContent").click(function () {
                    if ($("#content").is(":hidden")) {
                        $("#content").show("slow");
                    } else {
                        $("#content").hide("slow");
                    }
                    return false;
                });
            });
          </script>-->

        
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-12" style="display: flex;align-items: center; justify-content: center;">{{ graphic|safe }}</div>
        </div>
        
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-12">{{ histogram|safe }}</div>
        </div>
        
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-12">{{ histogram_price|safe }}</div>
        </div>
    </div>
    <div class="container" style="text-align: center; margin-top: 10px;"><a href="{% url 'getpdfPageLaba2' %}"><button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">Згенерувати звіт (PDF)</button></a></div>

<div class="d-flex justify-content-between container" id="top_button">
    <a class="btn btn-primary pull-right" style="text-align: right; visibility: hidden;" >Назад</a>
     <a href="{% url 'clear_session' %}"><button type="submit" class="btn btn-primary pull-right" id="top_button" style="height: 40px; width: 80px;font-size: 18px;margin-bottom: 40px;">Назад</button></a>
  </div> 
  <div style="height: 60px;"></div>
{% endblock %}
