{% extends "dashboard.html" %}
{% load static %}
    {% block head %}
    {{ block.super }}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{% static 'css/style_new.css' %}">

    {% endblock %}
  {% block content %}
    
    <div class="container" id="gray_block" style="height: 88vh;">
      <h1 align="center">{{ actions }}</h1><br>
    <form action=""  method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-row">
          {% for i in form %}
            <div class="form-group col-12">
              <label for="inputEmail4">{{ i.label }}:</label>
              {{ i }}
            </div>
            {% endfor %}

            {% for i in formTower %}
            <div class="form-group col-12">
              {% ifnotequal  i.label 'Windmills' %}
              <label for="inputEmail4">{{ i.label }}:</label>
              {% endifnotequal %}
              {{ i }}
            </div>
            {% endfor %}
            
        </div>
        <input type="submit" name="submit" value="{{ action }}" type="button" class="btn btn-danger">
        <a class="btn btn-primary" href="{% url 'laba4' %}" role="button" style="margin-left: 60px;">Назад</a>
      </form>
    </div>

{% endblock %}
